.container {
    padding: 0 2rem;
    background-image: url("../public/images/stars-train.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(0.2px); */
}

.main {
    min-height: 100vh;
    /* padding: 4rem 0; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.tellrTitle {
    font-family: "Pacifico";
    color: white;
}
.tellrTitle::before {
    content: "📘";
    margin-right: 16px;
}
.tellrTitle::after {
    content: "📘";
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 16px;
}
.journalContent {
    font-family: "Poppins";
    width: 80vw;
    height: 45vw;
    background: burlywood;
    color: black;
    z-index: 1;
    resize: none;
}

.journalContent::-webkit-scrollbar {
    visibility: hidden;
}
.journalBackground {
    position: absolute;
    top: 26vh;
    width: 80vw;
    height: 45vw;
    z-index: 1;
    background: yellow;
    background-image: url("../public/images/fireplace.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-color: black;
    opacity: 0.5;
    filter: blur(3px);
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("../public/fonts/Pacifico-Regular.ttf");
}
